#wrapper {
    display: grid;
    grid-template-rows: 60px;
    grid-template-areas: 
        "h h h h h h h h h h";
}

#header {
    grid-area: h;
    display: grid;
    background-color: blue;
    border-radius: 10px;
}

#heaImg {
    display: grid;
    grid-area: E;
}

#EadImg {
    display: grid;
    border-radius: 10px;
    grid-template-areas: 
        "E E E . .";
}